
muttrc

vim/plugged/auto-pairs/

vim/plugged/ctrlp.vim/

vim/plugged/flatlandia/

vim/plugged/goyo.vim/

vim/plugged/seoul256.vim/

vim/plugged/vim-better-whitespace/

vim/plugged/vim-multiple-cursors/

*.vim

vim/.netrwhist

weechat/alias.conf

weechat/charset.conf

weechat/exec.conf

weechat/irc.conf

weechat/logger.conf

weechat/logs/core.weechat.weechatlog

weechat/logs/irc.freenode.#ruby.weechatlog

weechat/logs/irc.freenode.#rubyonrails.weechatlog

weechat/logs/irc.server.freenode.weechatlog

weechat/plugins.conf

weechat/xfer.conf

weechat/weechat.log

weechat/trigger.conf

weechat/sec.conf

weechat/script.conf

weechat/relay.conf

config/cmus/cache

config/cmus/autosave

config/cmus/command-history

*.pl

config/cmus/search-history

config/config/git/ignore
